@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

:root {
    --clr: #222327;
    --bg: #999;
    --green: #29fd53;
    --red: #fd2933;
    --blue: #40A2E3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#wrapper {
    width: 100svw;
    min-height: 100svh;
    overflow: hidden;
}

#main-content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

#left-side-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    row-gap: 35px;
}

#right-side-content {
    width: 100%;
    height: 100%;
    background-color: var(--clr);

    padding: 30px;

    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    min-width: 220px;
    min-height: 330px;
    max-height: 330px;
    border-radius: 10px;

    background: var(--clr);
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

    border-radius: inherit;
}

.selected {
    transform: rotateY(180deg);
}

.front:hover {
    box-shadow: 0 0 2px 3px var(--blue);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafafa;

    border-radius: inherit;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--blue);
    transform: rotateY(180deg);

    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.quiz-category {
    width: 100%;
    overflow: hidden;
}

div .quiz-picture {
    width: 100%;
    aspect-ratio: 1;
    background-color: #999;
    border-radius: 5px;
}

.quiz-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.card-button {
    width: 90px;
    height: fit-content;
    padding: 5px 0;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    transition: all 0.4s ease;
}

.card-button a {
    text-decoration: none;
    color: black;
}

.card-button:hover {
    background-color: var(--bg);
    color: white;
}