
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
    --bg: #999;
    --green: #29fd53;
    --red: #fd2933;
    --blue: #40A2E3;
    --blue-dark: #348cc1; /* darker blue */
}

body {
    overflow: hidden;
    display: flex;
    height: 100svh;
    justify-content: center;
    flex-direction: column;
}

.content {
    width: 100svw;
    height: calc(100svh - 115px);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 30px;
    justify-content: center;
    background: var(--clr);
}

.nav-wrapper {
    position: relative;
    display: flex;
    height: 115px;
    justify-content: center;
    align-items: end;
    bottom: 0;
    background: var(--clr);
}

.navigation {
    position: relative;

    width: 400px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    line-height: 75px;
}

.navigation ul li a .icon {
    position:  relative;
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--blue);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}



.box {
    position: relative;
    min-width: 220px;
    min-height: 330px;
    max-height: 330px;
    border-radius: 10px;

    background: var(--clr);
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

    border-radius: inherit;
}

.selected {
    transform: rotateY(180deg);
}

.front:hover {
    box-shadow: 0 0 2px 3px var(--blue);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafafa;

    border-radius: inherit;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--blue);
    transform: rotateY(180deg);

    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.quiz-category {
    width: 100%;
    overflow: hidden;
}

div .quiz-picture {
    width: 100%;
    aspect-ratio: 1;
    background-color: #999;
    border-radius: 5px;
}

.quiz-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.card-button {
    width: 90px;
    height: fit-content;
    padding: 5px 0;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    transition: all 0.4s ease;
}

.card-button a {
    text-decoration: none;
    color: black;
}

.card-button:hover {
    background-color: var(--bg);
    color: white;
}

.profile-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

.profile-header {
    background: var(--blue);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px 0;
}

.profile-header h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.profile-header p {
    color: #cccccc;
    font-size: 16px;
}

.profile-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 20px;
}

.stat {
    background: #f7f7f7;
    border-radius: 10px;
    flex: 0 0 45%;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stat-set {
    background: #f7f7f7;
    border-radius: 10px;
    flex: 0 0 100%;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stat p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--blue);
}

.stat p:last-child {
    color: #777777;
    font-size: 14px;
}
.settings-table {
    width: 100%;
    border-collapse: collapse;
}

.settings-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.settings-table tr:last-child td {
    border-bottom: none;
}

.input-box {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-box:focus {
    border-color: var(--blue);
    box-shadow: 0 0 5px rgba(64, 162, 227, 0.5);
    outline: none;
}

.text-right {
    text-align: right;
}

.save-changes-btn {
    background-color: var(--blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-changes-btn:hover {
    background-color: var(--blue-dark); /* Using the darker shade of blue */
}